*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main_container{

    width: 100%;
    height: 100vh;
    background-color: rgb(98, 26, 26);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.card{
    position: relative;
    width: 330px;
    height: 75%;
    background-color: rgb(16, 60, 91);
    border-radius: 10%;
    bottom: 40px;
    transition: 0.3s;
}
.card:hover{
    box-shadow: 5px 20px 5px black;
    transform: translateY(-5px);
}
.top_side{
    position: relative;
    width: auto;
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(125deg, #F26E32, #54180d);
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}
.logo{
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo img{
    position: absolute;
    width: 80px;
    bottom: 10px;
}
.shoe{
    position: relative;
    width: 300px;
    height: 300px;
    transition: 0.3s;
}
.shoe:hover{
    transform: translateY(-10px);
}
.shoe img{
    position: absolute;
    width: 330px;
    height: 330px;
    left: 100px;
    margin-top: -20%;
}
.logo span{
    color: rgb(232, 213, 213);
   position: absolute;
   margin-top: 100px;
}
.logo h4{
    font-size: 20px;
    color: rgb(232, 213, 213);
    position: absolute;
    margin-top: 60px;
}
.fast{
    padding: 0;
    position: absolute;
    top: 175px;
    left: -2px;
}
.fast h1{
    font-size: 135px;
    opacity: 15%;
    font-weight: bolder;
}
.bottom_side {
    position: relative;
    width: auto;
    height: 50%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.bottom_first h4 {
    font-size: 20px;
    color: black;
}
.bottom_first{
    display: flex;
    gap: 9px;
}
.bottom_first h5 {
    font-size: 12px;
    padding: 5px;
    color: white;
    border-radius: 20%;
    background-color: rgb(69, 223, 69);
}
.bottom_side span{
    font-size: 15px;
}
.stars {
    display: flex;
    align-items: center;
    gap: 6px;
    color: gold;
    font-size: 12px;
    margin-bottom: 5px;
}
.stars span {
    color: black;
    font-size: 14px;
    margin-right: 10px;
}
.size{
    gap: 5px;
}
.page {
    display: flex;
    gap: 10px;
}
.page h4 {
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    color: black;
}
.other_details h4{
    font-weight: bold;
}
.color {
    width: 160px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.color i {
    font-size: 14px;
    color: black;
}
.color h2 {
    margin-left: auto;
    font-size: 20px;
    color: black;
}
.price{
    position: absolute;
    right: -8px;
    bottom: 20px;
    width: 165px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(69, 223, 69);
    transition: 0.3s;
}
.price:hover{
    transform: translateY(-5px);
    box-shadow: 2px 2px 10px green;
}
.price h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 6px;
    font-size: 20px;
}
.color #red{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 50%;
    box-sizing: border-box;
}
@media (min-width: 751px) and (max-width: 1024px){
    .card{
        max-width: 45%;
    }
}
@media (min-width: 1025px){
    .card{
        max-width: 30%;
    }
}
